titulo  { font-size: 150%; font-weight: bold; font-family: "Trebuchet MS",Helvetica; text-align: center; }
a 	{ font-size:110%; font-weight: underline, bold; color: blue; text-align: right; }
th, td 	{font-family: "Trebuchet MS",Helvetica; color: black; vertical-align: middle; text-align: right; font-size: large;}
#salida { color: red ;  font-weight: bold; font-size: large;}
input	{ text-align: right; border: double; font-size: large; }
body    {background-color: #F3F781; /* Amarillo */ font-size: large;}